<form method="post" action="{{ path('facture_delete', {'id': facture.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette facture ?');" style="display: inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ facture.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>

